.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all 0.2s;
}
.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}
.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.fadeChild-transform-leave-active,
.fadeChild-transform-enter-active {
  transition: all 0.3s;
}
.fadeChild-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}
.fadeChild-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}